body {
    background-color: #F1F1F1;
}

.header {
    height: 110px;
    background-color: #fff;
    border-bottom: 1px solid #A1A6B4;
    margin-bottom: 32px ;
}

.nav-item {
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    margin-right: 24px;
}

.nav-item3 {
    margin-right: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 1140px;
    margin: 0 auto;
}

.main-title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 24px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    gap: 24px;
}

.cross {
    text-decoration: none;
    width: 364px;
    background-color: #fff;
    border-radius: 12px;
    gap: 24px;
}

.cross-img {
    width: 364px;
    margin-bottom: 32px;
}

.name-title {
    font-family: 'Anonymous Pro', monospace;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.name-main {
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
}

.name-text {
    color: #000;
    margin-left: 24px;
}

.footer {
    height: 142px;
    background-color: #121723;
    margin-top: 32px;
}

.container3 {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(230, 232, 236, 0.4);
    max-width: 1160px;
    margin: 0 auto;
}

.nav-items {
    display: flex;
    list-style: none;
}

.footer-item {
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 24px;

}

.footer-bottom {
    font-family: 'Anonymous Pro', monospace;
    font-size: 16px;
    font-weight: 700;
    color: #A1A6B4;
    text-align: center;
    margin-top: 18px;
}

.cart {
    background-color: #fff;
    padding: 48px;
    border-radius: 50px;
}

.cart-img {
    width: 1044px;
    margin-bottom: 32px;
}

.cart-text {
    width: 1044px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    font-weight: 400;
}

.cart-title {
    font-size: 48px;
    margin-bottom: 24px;
}

.cart-subtitle {
    font-size: 36px;
    margin-bottom: 24px;
}

.cart-container {
    display: flex;
    justify-content: space-between;
}

.cart-main {
    width: 506px;
}

p {
    margin-top: 0;
}

.cart-submain {
    width: 506px;
}

.submain-title {
    font-size: 30px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.submain-data {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
}

.submain-price {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
}

.submain-mat {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    border-bottom: 1px solid #000;
    padding-bottom: 25px;
}